.background-none{
    background: none;
}
.image{
    width: 25px;
    height: 25px;
}
.image1{
    width: 40px;
    height: 40px;
}
.navbar{
    background-color: #fff;
    width: 97.5%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected{
    background-color: #01F0D0;
    border-radius: 30px;
}