.con{
    min-height: 375px;
}
.table-container {
    display: flex;
    justify-content: center;
    max-height: 295px;

    overflow-y: scroll;
  }
  
  .custom-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    
  }
  
  .custom-table thead {
    
    font-weight: bold;
    text-align: left;
    padding: 10px;
    
    
  }
  .custom-table th{
    position: sticky;
    padding: 10px 20px;
    ; 
  }
  
  thead th {
    position: sticky; 
   top:0;
    z-index: 1;
    background-color: #f8f9fa
  }
 
  .custom-table td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #e4e5e6; 
  }
  
  .custom-table tr:last-child td {
    border-bottom: none; 
  }
  
  .custom-table th,
  .custom-table td {
    border-left: none; 
    border-right: none;
  }
  
  .custom-table tr:hover td {
    background-color: #f1f1f1; 
  }
  
  .custom-table th:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .custom-table th:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
  }
  .table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px; 
  }
  

  
  .table-container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #000; 
    border-radius: 20px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #000;
}
  